In [ ]:
print("hello wo")

In [ ]:
import ma

dir(ma)

In [ ]:
print(ma.factorial(5))
print(ma.sum_of_numbers(5))
print(ma.equationroots(22, 44, 2))

In [ ]:
p = "sachin"
for i in p:
    print(i)

## data structure
sets

In [ ]:
a = {2023, "Python", 3.11, 5 + 6j, 1.23e-4, "Python", "this is a"}
b = {(5 + 6j), 3.11, 0.000123, "Python", 2023}
c = {1, 2, 3, 4, 5}

In [ ]:
print(a, b, c)

list

In [ ]:
lis = [
    23,
    34,
    3,
    2345,
    34,
    3,
    34,
]
lis[-1] = "last"
for i in lis:
    print(i)

tuple

In [ ]:
tup = (23,34,4,5,54,56,6,6,6,6)
for i in tup:
    print(i)

## Operators

- arithmetic operators
- comparision operators
- bitwise operators
- Logical operators
- Assignment operators
- Membership operators
- identity operators

In [ ]:
# arithmetic operators
a = 1 + 3 - 34 * 22
print(a)
print(22 % 4) 
print(3**4)

In [ ]:
# comparision operator
name = input("enter password")
if name == "password":
    print("welcome")
else:
    print("fuck off")

In [ ]:
# bitwise operator
a = 15
b = 7
print(a & b)
print(a | b)
print(~ b)
print(a ^ b)
print(b >> 1)

In [ ]:
# logical operator
print(True and True)
print(True and False)
print(True or False)
print(False or False)

In [19]:
# Assignment operator
a = 23
b =44
a +=23
a -= 4

print(a , b)

42 44

In [22]:
# membership operator
'ac' in 'sachin'
'ac' not in 'sachin'

False

In [24]:
# identity operator
x = 5 
y = 5
print(x is y)
print(id(x) , id(y))

True
10853096 10853096